@import url("https://rsms.me/inter/inter-ui.css");

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Inter UI", sans-serif;
  color: black;
}

div {
  max-width: 50rem;
  margin: 0 auto;
}
